:root {
  --black: #0B0C10;
  --darkgray: #1F2833;
  --lightgray: #C5C6C7;
  --lightblue: #66FCF1;
  --blue: #45A29E;
  --solutionCard: linear-gradient(210.41deg,#45A29E 1.14%,#66FCF1 100.75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--black);
  mix-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px var(--lightblue);
}