.s-container {
    position: relative;
}

.s-container .swiper {
    width: 70%;
    height: 12rem;
    position: unset;
}

.s-container .swiper-slide {
    background-color: var(--darkgray);
    display: flex;
    color: var(--lightblue);
    border-radius: 10px;
    border: 2px solid var(--lightblue);
    overflow: hidden;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--blue) !important;
}

.swiper-button-prev {
    left: 6rem;
}

.swiper-button-next {
    right: 6rem;
}

.s-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.s-left>:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}

.swiper-slide img {
    position: absolute;
    z-index: -99;
    transition: 0.1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    display: flex;
    flex-direction: column;
}

.size {
    display: flex;
    align-items: baseline;
}

.size>:nth-child(1) {
    margin-right: 5px;
}

.size>:nth-child(2) {
    font-size: 1rem;
}

.name>:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 600;
}

.name>:nth-child(2) {
    font-size: 1.2rem;
}